	<p>Listed by: <%= link_to @user.name, user_listings_path(@user)%></p>
	<% for att in @listing.attributes.except("created_at", "updated_at", "id", "user_id").keys %>
		<p><%= att.humanize %>: <%= @listing.attributes[att].to_s %></p>
	<% end %>
	<% if current_user.id == @listing.user_id %>
	<%= link_to 'Edit Listing', edit_listing_path(@listing) %>
	<%= button_to "Delete Listing", listing_path(@listing), method: :delete, data: {confirm: 'Are you sure?'} %>
	<% end %>
