	<%= render 'reservations/form' %>

	<p>Listed by: <%= link_to @user.name, user_listings_path(@user)%></p>
	<% for att in @listing.attributes.except("created_at", "updated_at", "id", "user_id", "images", "price").keys %>
		<p><%= att.humanize %>: <%= @listing.attributes[att].to_s %></p>
	<% end %>

	<p><b>Price: </b>RM <%= '%.2f' % @listing.price %></p>
	

    <% @listing.images.each do |image| %>
    <%= image_tag(image.url) %>
    <% end %>
    <br/>

	<% if current_user.id == @listing.user_id %>
	<%= link_to 'Edit Listing', edit_listing_path(@listing) %>
	<%= button_to "Delete Listing", listing_path(@listing), method: :delete, data: {confirm: 'Are you sure?'} %> <!--it works-->

	<% if false %>
	<%= button_to "Delete Listing", listing_path(@listing), method: "delete", 'data-confirm' => 'Are you sure?' %> <!--it works-->
	<% end %>


	
	<% end %>


