<%= form_for @user do |form| %>

	<%= form.label :email %>
	<%= form.text_field :email, type: 'email' %>

	<%= form.label :password %>
	<%= form.password_field :password %>

	<%= form.file_field :image %><br>

	<label>
		<%= form.check_box :remove_image %>
		Remove Profile Picture
	</label><br>
	
	<%= form.submit %>

<% end %>