<h2>This is <%= current_user.name %>'s profile</h2>

<%= image_tag current_user.avatar.thumb.url if current_user.avatar? %><br/>
<b>Username:</b><br/>
<%= @user.name %><br/>
<b>First Name:</b><br/>
<%= @user.first_name %><br/>
<b>Last Name:</b><br/>
<%= @user.last_name %><br/>
<b>Gender:</b><br/>
<%= @user.gender %><br/>
<b>Phone:</b><br/>
<%= @user.phone %><br/>
<b>Country:</b><br/>
<%= @user.country %><br/>
<b>Birthday:</b><br/>
<%= @user.birthday %><br/>

<%= link_to 'Edit Profile', edit_user_path(@user) %>

<%= link_to 'My Listings', user_listings_path(@user) %>

<%= link_to 'My Reservations', user_reservations_path(@user) %>
