

<div class="row demo-frame">

	<%= form_for :checkout_form, url: checkout_path(id: params[:id]), html: { id: "cardForm" }  do |form| %>

		<div class="form-group" data-client="<%= @client_token %>">
			<%= form.label :card_number, "Credit Card Number", class: "hosted-fields--label" %>
			<div id="card-number" class="hosted-field form-control"></div>
		</div>

		<div class="form-group">
			<%= form.label :expiration_date, "Expiration Date", class: "hosted-field--label" %>
			<div id="expiration-date" class="hosted-field form-control"></div>
		</div>

		<div class="form-group">
			<%= form.label :cvv, "CVV", class: "hosted-fields--label" %>
			<div id="cvv" class="hosted-field form-control"></div>
		</div>

		<%= form.hidden_field "payment_method_nonce" %>

		<div class="button-container">
			<%= form.submit "Purchase", class: "btn btn-primary", id: "submit-payment-btn" %>
		</div>

	<% end %>

	<!-- Load the Client component. -->
	<script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

	<!-- Load the Hosted Fields component. -->
	<script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

</div>

