
<div class="container">

<div class='col-md-4'>

<%= link_to Listing.find(@reservation.listing_id).name, listing_path(@reservation.listing_id) %>

<p><b>Booking Id:</b> <%= @reservation.id %></p>
<p><b>Check In:</b> <%= @reservation.booking_start.strftime('%a, %d %b %Y') %></p>
<p><b>Check Out:</b> <%= @reservation.booking_end.strftime('%a %d %b %Y') %></p>
<p><b>Guest Number:</b> <%= @reservation.num_guests %></p>
<p><b>Price:</b> RM<%= '%.2f' % @reservation.total_price %></p>

<%= button_to "Cancel Reservation", reservation_path(@reservation), method: "delete", 'data-confirm' => 'Are you sure?' %>


<h3>Payment Status:</h3>

<% if @reservation.payment_status == 0 %>
	<p>Unpaid.</p>
	<p>Please Make Your Payment</p><br/>
	<%= render 'reservations/braintree' %>
<% else %>
	<p>Paid.</p>
<% end %>

</div>
</div>

