<!DOCTYPE html>
<html>
  <head>
    <title>Pairbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= link_to 'Pairbnb', "/" %> 
  <!--  $ rails generate clearance:install -->
    <% if signed_in? %>
      <%= current_user.email %>
      <%= link_to "Profile", user_path(current_user.id)  %>
      <%= link_to 'New Listing', new_listing_path %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>      
      <%= link_to "Sign Up", sign_up_path %>
    <% end %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  <!-- stop -->


    <%= yield %>
  </body>
</html>
